Source: libnl2
Section: net
Priority: optional
Maintainer: Sunkey Lee <yuvjjang.lee@samsung.com>, Danny Jeongseok Seo <s.seo@samsung.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), cdbs, bison, flex
Standards-Version: 3.9.1
Homepage: http://people.suug.ch/~tgr/libnl/

Package: libnl2
Architecture: linux-any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for dealing with netlink sockets 
 This is a library for applications dealing with netlink sockets. 
 The library provides an interface for raw netlink messaging and various 
 netlink family specific interfaces.

Package: libnl2-dev
Architecture: linux-any
Section: libdevel
Depends: libnl2 (= ${binary:Version}), ${misc:Depends}
Conflicts: libnl-dev
Description: development library and headers for libnl2
 This is a library for applications dealing with netlink sockets. 
 The library provides an interface for raw netlink messaging and various 
 netlink family specific interfaces.
 .
 This package contains all files that are needed to build applications using
 libnl2.

Package: libnl2-dbg
Architecture: linux-any
Section: debug
Depends: libnl2 (= ${binary:Version}), ${misc:Depends}
Priority: extra
Description: debug symbols for libnl2
 This is a library for applications dealing with netlink sockets. 
 The library provides an interface for raw netlink messaging and various 
 netlink family specific interfaces.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.

