#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DH_STRIP_ARGS := --dbg-package=libnl2-dbg
DEB_DH_MAKESHLIBS_ARGS_libnl2 := -V"libnl2 (>= $(DEB_UPSTREAM_VERSION))"


